@import "tailwindcss";

body {
  background-image: url("/images/wallpaper.png");
  font-family: 'Secret Thief', sans-serif;
  color: white;
  max-height: 100vh;
}

@font-face {
  font-family: 'Secret Thief';
  src: url('./assets/fonts/SecretThief.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Game Bubble';
  src: url('./assets/fonts/GameBubble.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.bubble-text {
  font-family: 'Game Bubble', sans-serif;
}